{{ form_start(form) }}
    <div class="row">

        <div class="col-md-6">
            {{ form_row(form.firstname) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.lastname) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.email) }}
        </div>

        <div class="col-md-6">
            {{ form_row(form.phoneNumber) }}
        </div>

        <div class="text-end">
            <button type="button" class="btn btn-light ms-1" data-bs-dismiss="modal">Annuler</button>
            <button class="btn btn-success">{{ form.submitLabel.vars.label }}</button>
            {% do form.submitLabel.setRendered() %}
        </div>
    </div>
{{ form_end(form) }}